#selectionDiv {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

#wrapperDiv {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  width: 40%;
}

#pageTitle {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 40%;
}

.accountTable {
  border-collapse: collapse;
  width: 100%;
  margin: 10px auto;
}

td, th {
  text-align: left;
  padding: 8px;
}