* {
  margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
  font-family: 'Roboto', sans-serif;
}

.linkPlain {
  text-decoration: none;
  color: inherit;
}

.hoverLink:hover {
  color: #6b6a6a;
}

#page {
  display: table;
  width: 100%;
  height: 100%;
}

#contentDiv {
  display: table-row;
  width: 100%;
  height: 100%;
  // background-color: #e4dfda;
}

.clearFix {
  overflow: auto;
  content: "";
  clear: both;
  display: table;
}