#contentDiv {
  border-radius: 25px;
  margin: auto;
  display: block;
  height: auto;
}

#contentDiv2 {
  border-radius: 25px;
  background-color: #d2d2d2d2;
  margin: auto;
  margin-top: 120px;
  display: block;
  width: 60%;
  height: auto;
}


#wrapperDiv {
  margin: auto;
  margin-top: 50px;
  width: 40%;
}

#whatsNewTitle {
  margin-top: 40px;
}

.titles {
  margin: auto;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}

#imagesDiv {
  width: 100%;
  padding-bottom: 60px;
  border-bottom: 1px solid black;
}

#levelButtonsDiv {
  display: table;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 10px;
}

#blocksDiv {
  display: inline-flex;
}

#blocksFigure {
  float: left;
  margin: auto;
}

#previewFigure {
  float: right;
  margin: auto;
}

#blocksList {
  float: right;
  width: 100%;
  margin-top: 40px;
  list-style-type: none;
}

.blocksPoints {
  margin-bottom: 25px;
}

#previewDiv {
  display: inline-flex;
  align-items: center;
}

.blocksImage {
  display: block;
  height: 250px;
  margin: auto;
}

.previewCaptions {
  text-align: center;
  font-weight: bold;
}

.levelButton {
  margin: 0 15px;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.descriptionDiv2 {
  width: 70%;
}

.conceptBullets {
  margin-bottom: 25px;
}
