<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="level_intro.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}
    
    <div id="contentDiv">
      <h1 class="titles">{{title}}</h1>
      
      <div class="descriptionDiv">
        <ul>
        {{#each concept_points}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
        
      </div>

      <div id="levelButtonsDiv">
        {{#if student}}
          <button class="levelButton" type="button" onclick="location.href='/student/level_select'">Back To Levels</button>
        {{else}}
          <button class="levelButton" type="button" onclick="location.href='/teacher/level_select'">Back To Levels</button>
        {{/if}}
      </div>
    </div>
  </div>
</body>
</html>