#contentDiv {
  border-radius: 25px;
  background-color: #d2d2d2d2;
  margin: auto;
  margin-top: 120px;
  display: block;
  width: 60%;
  height: auto;
}

#newBlocksImage {
  width: 600px;
  height: 400px;
}

.titles {
  margin-top: 50px;
  margin-bottom: 40px;
}

.levelButton {
  margin: 20px 30px;
}

.descriptionDiv {
  width: 70%;
}

.conceptBullets {
  margin-bottom: 25px;
}