<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="../shared/introduction.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}

    <div id="contentDiv">
      <div id="wrapperDiv">
        <div id="textDiv">
          <h1 class='titles'>Introduction to EduBot</h1>
          <p class='para'>Hey there! Welcome to the land of EduBot.</p>
          <p class='para'>EduBot is a hungry robot and needs your help finding nuts and bolts to consume. Over the next few sets of levels you're going to help EduBot by writing <span class='inlineBold'>computer programs</span> for it to follow.</p>
          <p class='defBox'>A computer program is a sequence of instructions that helps to solve a problem.</p>
          <p class='para'>A computer program must tell the computer exactly what to do in order to solve a problem, for this reason a computer program must be written in a <span class='inlineBold'>programming language</span>.</p>
          <p class='minorTitle'>What is a progamming lanuage?</p>
          <p class='para'>A programming language is an artificial language that a computer understands. The language is made up of series of statements that fit together to form instructions. These instructions tell a computer what to do.</p>
          <p class='minorTitle'>Which language does this course use?</p>
          <p class='para'>For the rest of this course you will be using a drag-and-drop programming language based on Google Blockly. This language makes it easier to learn some of the underlying principles of programming, some of which you will learn throughout this course. Knowing these core principles will make it much easier for you to learn more complex programming languages in the future.</p>
        </div>
        <div id="levelButtonsDiv">
          {{#if student}}
            <button class="levelButton" type="button" onclick="location.href='/student/level_selection'">Back To Levels</button>
          {{else}}
            <button class="levelButton" type="button" onclick="location.href='/teacher/level_selection'">Back To Levels</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
