p {
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
}

.titles {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

#levelTitle {
  display: block;
  margin: auto;
}

.descriptionDiv {
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
}

#levelDescriptionDiv {
  /* float: left; */
}

.infoList {
  list-style-type: none;
}

.imageDivs {
  width: 45%;
  text-align: center;
}

#blocksDiv {
  float: left;
}

#blocksImage {
  margin-top: 30px;
  width: 100%;
}

#levelImageDiv {
  margin-top: 30px;
  float: right;
  width: 40%;
}

#levelImage {
  width: 100%;
}

#levelButtonsDiv {
  display: table;
  margin: 0 auto;
  margin-bottom: 25px;
}

.levelButton {
  margin: 0 15px;
  width: 150px;
  height: 50px;
}

.previewCaptions {
  margin-top: 10px;
  font-weight: bold;
}