<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="../shared/level_selection.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}

    <div id="contentDiv">
      <div id="selectionWrapperDiv">
        {{#if studentInfo}}
        <h1 class="titles">{{studentInfo.fname}} {{studentInfo.lname}}</h1>
        {{else}}
        <h1 class="titles">Level Selection</h1>
        {{/if}}
        <div id="selectionDiv">
          {{#each categories}}
            {{> category_block this}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <script>
    var showFeedbackText = function(id) {
      $(id).find('.feedbackText').css('display', 'inline');
      $(id).find('.feedbackImage').css('display', 'none');
    };
    
    var hideFeedbackText = function(id) {
      $(id).find('.feedbackText').css('display', 'none');
      $(id).find('.feedbackImage').css('display', 'inline');
    };
  <script>
</body>
</html>
