p {
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
}

.titles {
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  width: 50%;
  border-bottom: 1px solid black;
}

#levelDescriptionDiv {
  margin-top: 40px;
}

#levelTitle {
  display: block;
  margin: auto;
}

.descriptionDiv {
  margin: auto;
  margin-bottom: 40px;
  width: 50%;
}

.infoList {
  list-style-type: none;
  margin-bottom: 50px;
  margin-left: 10px;
}

#imagesDiv {
  display: inline-flex;
  align-items: center;
}

.imageDivs {
  width: 48%;
  text-align: center;
}

#blocksDiv {
  float: left;
}

#blocksImage {
  margin-top: 30px;
  width: 100%;
}

#levelImageDiv {
  float: right;
}

#levelImage {
  width: 100%;
}

#levelButtonsDiv {
  display: table;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 100px;
}

.levelButton {
  margin: 0 15px;
  width: 150px;
  height: 50px;
}

.previewCaptions {
  margin-top: 10px;
  font-weight: bold;
}
