#selectionDiv {
  display: inline-block;
  width: 100%;
}

#selectionWrapperDiv {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  width: 40%;
  min-width: 650px;
}

.buttonLink {
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.buttonLink:hover {
  cursor: pointer;
}

.playLink {
  color: white;
  background-color: #e68119;
}

.learnMoreLink {
  color: white;
  background-color: #2962bc;
  margin-left: 30px;
  vertical-align: baseline;
}

.learnMoreLink:hover {
  color: #d6d6d6;
}

.introLink {
  font-size: 1.5em;
  margin: .75em 0;
}

.categoryDiv {
  margin-top: 30px;
  padding-top: 30px;
}

.conceptTitle {
  font-weight: bold;
}

.levelDiv {
  display: flex;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 10px;
  border-radius: 10px;
}

.levelDiv:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.levelDiv h3 {
  text-align: left;
  padding-top: 10px;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.starImage {
  width: 40px;
  height: 40px;
  padding-bottom: 8px;
  vertical-align: middle;
}

.starsDiv {
  margin-left: auto;
}

.lockImage {
  width: 14px;
  height: 20px;
  margin-right: 10px;
}

.inlineDiv {
  vertical-align: middle;
  display: inline;
}

.feedbackImage {
  height: 20px;
  margin-left: 20px;
  vertical-align: middle;
}

.feedbackText {
  color: #e68119;
  margin-left: 20px;
  font-size: 15px;
  font-style: italic;
  display: none;
}

.linkLocked {
  color: #6C6C6C;
}
