<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="play.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="lib/blockly/blockly_compressed.js"></script>
  <script src="lib/blockly/blocks_compressed.js"></script>
  <script src="lib/blockly/msg/js/en.js"></script>

  <script src="lib/blockly/javascript_compressed.js"></script>
  <script src="custom_blocks/robot_blocks.js"></script>
  <script src="custom_blocks/robot_generator.js"></script>

  <script src="scripts/utils.js"></script>

</head>
<body>
  <div id="page", onload="enterLevel({{json_level}})">
    {{banner}}

    <div id="contentDiv">
      <div id="blocklyDiv">
        <div id="blocklyWorkspaceDiv"> </div>
      </div>

      <div id="visualDiv">

        <div id="controlsDiv">
          <button id="runButton">Run</button>
          <button id="viewButton">View Code</button>
          <button id="hintButton">Show Hint</button>
          <button id="restartButton">Restart</button>
          <input type="file", id="loadButton", name="file", onchange="loadLevel(event)"></input>
        </div>

        <div id="codeDiv">
          <textarea readonly id="code"></textarea>
        </div>

        <div id="canvasDiv">
          <div id="canvasPaddingDiv">
            <canvas id="game_canvas", width=1024, height=1024></canvas>
            <img class="game_image", src="../images/rob.png",
              alt="Rob", id="robot_image"></img>
            <img class="game_image", src="../images/nuts_and_bolts.png", alt="Nuts and bolts",
              id="nuts_and_bolts"></img>
            <script src="../../scripts/entities.js"></script>
            <script src="../../scripts/robot_anims.js"></script>
            <script src="../../scripts/robot_control.js"></script>
            <script src="../../scripts/edubot.js"></script>
            <script src="../../scripts/levels.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <xml id="toolbox" style="display: none">
    <category name="Movement">
      <block type="move_forward"></block>
      <block type="rotate_right"></block>
      <block type="rotate_left"></block>
    </category>
    <category name="Loops">
      <block type="math_number"></block>
      <block type="controls_repeat_ext"></block>
      <block type="controls_whileUntil"></block>
    </category>
    <category name="Logic">
      <block type="controls_if"></block>
      <block type="logic_negate"></block>
      <block type="wall_in_front"></block>
      <block type="return"></block>
    </category>
    <category name="Variables" custom="VARIABLE"></category>
    <category name="Functions" custom="PROCEDURE"></category>
  </xml>
  
  <script src="scripts/level_events.js"></script>
</body>
</html>
