#page {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius: 25px;
  display: inline-block;
  background-color: #d2d2d2d2;
}

#bannerDiv {
  display: table;
  height: 100px;
  margin: auto;
  padding: 0;
}

#bannerDivContents {
  display: table-cell;
  height: 80px;
  margin: auto;
  vertical-align: middle;
}

#logo {
  float: left;
  height: 100%;
}

#titleDiv {
  display: inline-block;
  font-size: 45px;
  margin-left: 20px;
  line-height: 80px;
  color: #E69719;
}

#formDiv {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#formButtons {
  display: table;
  margin: 0 auto;
  margin-top: 5px;
}

.formItem {
  margin: 2px auto;
}

#formDiv > label {
  display: block;
  text-align: center;
}
