<script src="../scripts/utils.js"></script>
<script>
function getCurrLevel() {
  console.log('get curr level');
  httpGet("https://edubot-learn.herokuapp.com/shared/curr_level", getCurrLevelCallback);
}

function getCurrLevelCallback(currLevel) {
  console.log('curr level cb: ', currLevel);
  //window.location = '/shared/level_intro?levelId=' + currLevel;
  location.href = '/shared/play?levelId=' + currLevel;
}

function redirectToCurrLevel() {
  getCurrLevel();
}
</script>

<span id="bannerDiv" class="clearFix">
  <span id="titleDiv" onclick="window.location = '/student/level_selection'">
    <img class="logoImage" src="../images/edubot.jpg" alt="EduBot" id="logoImage"></img>
    <h1 id="bannerTitle">EduBot</h1>
  </span>
  <span id="levelLinksDiv">
    <a class="levelLink hoverLink linkPlain" onclick="redirectToCurrLevel();">Play</a>
    <a class="levelLink hoverLink linkPlain" href="/student/level_selection">Level Selection</a>
    <a class="levelLink hoverLink linkPlain" href="/shared/account">Account</a>
  </span>
  <span id="logoutLinksDiv">
    <a class="logoutLink" href="/logout">Log Out</a>
  </span>
</span>
