<span id="bannerDiv" class="clearFix">
  <span id="titleDiv">
    <img class="logoImage", src="../images/edubot.png",
      alt="EduBot", id="logoImage"></img>
    <h1>EduBot</h1>
  </span>
  <span id="levelLinksDiv">
    <a class="levelLink hoverLink linkPlain" onclick="getCurrLevel(); var currLevel = 'intro_1'; window.location = '/shared/level_intro?levelId=' + currLevel">Play</a>
    <a class="levelLink hoverLink linkPlain" href="/student/level_selection">Levels</a>
    <a class="levelLink hoverLink linkPlain">Account</a>
  </span>
  <span id="logoutLinksDiv">
    <a class="logoutLink" href="/logout">Log Out</a>
  </span>
</span>
<script src="../scripts/utils.js"></script>
<script>
var getCurrLevel = function() {
  httpGet("https://edubot-backend.herokuapp.com/curr_level", getCurrLevelCallback);
}

var getCurrLevelCallback = function(result) {
  currLevel = result;
}
</script>
