<span id="bannerDiv" class="clearFix">
  <span id="titleDiv">
    <img class="logoImage", src="../images/edubot.png",
      alt="EduBot", id="logoImage"></img>
    <h1>EduBot</h1>
  </span>
  <span id="levelLinksDiv">
    <a class="levelLink hoverLink linkPlain" href="/teacher/classes">Classes</a>
    <a class="levelLink hoverLink linkPlain" href="/teacher/level_selection">Levels</a>
    <a class="levelLink hoverLink linkPlain">Account</a>
  </span>
  <span id="logoutLinksDiv">
    <span id="accountLinksDiv">
      <a class="accountLink" style="margin-bottom: 0px">Account</a>
      <a class="accountLink" href="/shared/logout">Log Out</a>
    </span>
  </span>
</span>