<span id="bannerDiv">
  <span id="titleDiv">
    <img class="logoImage", src="../images/edubot.png",
      alt="EduBot", id="logoImage"></img>
    <h1>EduBot</h1>
  </span>
  <span id="linksDiv">
    <span id="levelLinksDiv">
      <a class="levelLink" class="linkPlain" href="https://edubot-backend.herokuapp.com/teacher/classes">Classes</a>
      <a class="levelLink" class="linkPlain">Progress</a>
      <a class="levelLink" class="linkPlain" href="https://edubot-backend.herokuapp.com/teacher/level_selection">Levels</a>
    </span>
    <span id="accountLinksDiv">
      <a class="accountLink" style="margin-bottom: 0px">Account</a>
      <a class="accountLink">Log Out</a>
    </span>
  </span>
</span>
