<span id="bannerDiv" class="clearFix">
  <span id="titleDiv" onclick="window.location = '/teacher/classes'">
    <img class="logoImage" src="../images/edubot.png" alt="EduBot" id="logoImage"></img>
    <h1 id="bannerTitle">EduBot</h1>
  </span>
  <span id="levelLinksDiv">
    <a class="levelLink hoverLink linkPlain" href="/teacher/classes">Classes</a>
    <a class="levelLink hoverLink linkPlain" href="/teacher/level_selection">Level Selection</a>
    <a class="levelLink hoverLink linkPlain" href="/shared/account">Account</a>
  </span>
  <span id="logoutLinksDiv">
    <a class="logoutLink linkPlain" href="/logout">Log Out</a>
  </span>
</span>
