<span>
  <h2>{{class_name}}</h2>
  
  <ul class="classMembers">
    {{#each class_members}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  
  <button type="button" onclick="todo(event)">Add Member</button>
</span>