.classBox {
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 30px;
  width: 40%;
  border-radius: 25px;
  background-color: #f0f0f0;
  text-align: center;
}

.className {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pageTitle {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 40%;
}

.classMembersTable {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
}

td, th {
  text-align: left;
  padding: 8px;
}

.studentRow:hover {
  cursor: pointer;
  background-color: #afafaf;
}

.removeStudentButton {
  height: 1em;
  margin-top: 3px;
}

.classButton {
  margin-left: 3px;
  margin-right: 3px;
}

#addClass {
  text-align: center;
}

#classesDiv {
  margin-top: 100px;
  margin-bottom: 150px;
}
