<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="classes_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../scripts/utils.js"></script>

</head>
<body>
  <div id="page">
    {{> banners/teacher}}
    <div id="contentDiv">
      <div id="classList">
        {{#each class_list}}
          <div>{{> class_box this}}</div>
        {{/each}}
      </div>

      <div id="addClass">
        <button type="button" onclick="addClassEvent(this)">Add Class</button>
      </div>
    </div>
    
    <script>
      $(".classMembersTable").on("click", "tr td", function() {
        window.location = "https://edubot-learn.herokuapp.com/teacher/student?userId=" + $(this).children("td:first").text();
      });
        
      var activeButton = null;

      var addMemberEvent = function(class_id, button) {
        if (activeButton) {
          $(activeButton.addButton).remove();
          $(activeButton.textInput).remove();
          activeButton.style.display = "inline-block";
        }
        activeButton = button;
        activeButton.class_id = class_id;

        button.style.display = "none";

        var submitButton = $("<button type='button' onclick='addMemberSubmitEvent()'>Add</button>");
        var textInput = $("<input type='text'></input>");

        activeButton.addButton = submitButton.get(0);
        activeButton.textInput = textInput.get(0);

        $(button).parent().append(textInput);
        $(button).parent().append(submitButton);
      };

      var addMemberSubmitEvent = function() {
        let uname = activeButton.textInput.value;
        let class_id = activeButton.class_id;

        httpPost('https://edubot-learn.herokuapp.com/teacher/add_member', {uname: uname, class_id: class_id}, addMemberCallback);
        //httpPost('https://edubot-backend.herokuapp.com/teacher/add_member', {uname: uname, class_id: class_id}, addMemberCallback);
        //httpPost('http://localhost:3000/teacher/add_member', {uname: uname, class_id: class_id}, addMemberCallback);

        $(activeButton.addButton).remove();
        $(activeButton.textInput).remove();
        activeButton.style.display = "inline-block";
        activeButton = null;
      };

      var addMemberCallback = function(status) {
        switch (status) {
          case 200: location.reload(); break;
          case 480: alert("Username does not exist"); break;
          case 481: alert("User already in a class"); break;
          default: alert("Unknown error occurred adding member: " + status); break;
        }
      };
      
      var removeMember = function(class_id, uname) {
        if (confirm("Are you sure you want to delete " + uname + " from " + class_id + "?")) {
          httpPost('https://edubot-learn.herokuapp.com/teacher/remove_member', {uname: uname, class_id: class_id}, removeMemberCallback);
        }
      };
      
      var removeMemberCallback = function(status) {
        switch (status) {
          case 200: location.reload(); break;
          case 480: alert("Username does not exist"); break;
          case 481: alert("User already in a class"); break;
          default: alert("Unknown error occurred removing member: " + status); break;
        }
      };

      var addClassEvent = function(button) {
        if (activeButton) {
          $(activeButton.addButton).remove();
          $(activeButton.textInput).remove();
          activeButton.style.display = "inline-block";
        }
        activeButton = button;

        button.style.display = "none";

        var submitButton = $("<button type='button' onclick='addClassSubmitEvent()'>Add</button>");
        var textInput = $("<input type='text'></input>");

        activeButton.addButton = submitButton.get(0);
        activeButton.textInput = textInput.get(0);

        $(button).parent().append(textInput);
        $(button).parent().append(submitButton);
      }

      var addClassSubmitEvent = function() {
        let class_name = activeButton.textInput.value;
        let class_id = activeButton.class_id;

        httpPost('https://edubot-learn.herokuapp.com/teacher/add_class', {name: class_name}, addClassCallback);
        //httpPost('https://edubot-backend.herokuapp.com/teacher/add_class', {name: class_name}, addClassCallback);
        //httpPost('http://localhost:3000/teacher/add_member', {uname: uname, class_id: class_id}, addMemberCallback);

        $(activeButton.addButton).remove();
        $(activeButton.textInput).remove();
        activeButton.style.display = "inline-block";
        activeButton = null;
      };

      var addClassCallback = function(status) {
        switch (status) {
          case 200: location.reload(); break;
          case 480: alert("Teacher doesn't exist"); break;
          default: alert("Unknown error occurred adding class: " + status); break;
        }
      }
    </script>
  </div>
</body>
</html>
