<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="classes_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="jquery-3.3.1.min.js"></script>

</head>
<body>
  <div id="page">
    {{> banners/teacher}}
    <div id="contentDiv">
      <div id="classList">
        {{#each class_list}}
          <div>{{> class_box this}}</div>
        {{/each}}
      </div>

      <div id="addClass">
        <button type="button" onclick="todo(event)">Add Class</button>
      </div>
    </div>
    <script>
      var addMemberEvent = function(class_id, button) {
        console.log(class_id);
        console.log(button);
        $(button).append("<input type='text'></input>")
        console.log("clicked");
      };
    </script>
  </div>
</body>
</html>
