<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="classes_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <div id="page">
    {{> banners/teacher}}
    <div id="contentDiv">
      <div id="classList">
        {{#each class_list}}
          <div>{{> class_box this}}</div>
        {{/each}}
      </div>

      <div id="addClass">
        <button type="button" onclick="todo(event)">Add Class</button>
      </div>
    </div>
    <script>
      var addMemberEvent = function(class_id, button) {
        if (!button.adding) {
          button.adding = true;
          button.style.display = "none";
          var submitButton = $("<button type='button' onclick='addMemberSubmitEvent(this)'>Add</button>");
          var textInput = $("<input type='text'></input>");
          submitButton.addButton = button;
          submitButton.textInput = textInput;
          $(button).parent().append(textInput);
          $(button).parent().append(submitButton);
        }
      };
      
      var addMemberSubmitEvent = function(button) {
        console.log(button);
        button.style.display = "none";
        button.textInput.style.display = "none";
        button.addButton.style.display = "inline-block";
      };
    </script>
  </div>
</body>
</html>
