<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="classes_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../scripts/backend_utils.js"></script>

</head>
<body>
  <div id="page">
    {{> banners/teacher}}
    <div id="contentDiv">
      <div id="classList">
        {{#each class_list}}
          <div>{{> class_box this}}</div>
        {{/each}}
      </div>

      <div id="addClass">
        <button type="button" onclick="todo(event)">Add Class</button>
      </div>
    </div>
    <script>
      var activeButton = null;
    
      var addMemberEvent = function(class_id, button) {
        if (activeButton) {
          $(activeButton.addButton).remove();
          $(activeButton.textInput).remove();
          activeButton.style.display = "inline-block";
        }
        activeButton = button;
        activeButton.class_id = class_id;

        button.style.display = "none";
        
        var submitButton = $("<button type='button' onclick='addMemberSubmitEvent()'>Add</button>");
        var textInput = $("<input type='text'></input>");
        
        activeButton.addButton = submitButton;
        activeButton.textInput = textInput;
        
        $(button).parent().append(textInput);
        $(button).parent().append(submitButton);
      };
      
      var addMemberSubmitEvent = function() {
        let uname = activeButton.textInput.value;
        let class_id = activeButton.class_id;
        httpPost('https://edubot-backend.herokuapp.com/teacher/add_member', {uname: uname, class_id: class_id}, addMemberCallback);
        
        $(activeButton.addButton).remove();
        $(activeButton.textInput).remove();
        activeButton.style.display = "inline-block";
        activeButton = null;
      };
      
      var addMemberCallback = function(status) {
        switch (status) {
          case 200: alert("Added member"); break;
          case 470: alert("Username does not exist"); break;
          default: alert("Unknown error occurred: " + status + "."); break;
        }
      }
    </script>
  </div>
</body>
</html>
