.classBox {
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  border-radius: 25px;
  background-color: #d2d2d2d2;
  text-align: center;
}

.className {
  font-size: 30px;
}

.classMembersTable {
  border-collapse: collapse;
  width: 100%;
  margin: 10px auto;
}

td, th {
  text-align: left;
  padding: 8px;
}

.studentRow:hover {
  cursor: pointer;
  background-color: #afafaf;
}

.removeStudentButton {
  height: 1em;
  margin-top: 3px;
}

.classButton {
  margin-left: 3px;
  margin-right: 3px;
}

#addClass {
  text-align: center;
}

#classesDiv {
  margin-top: 80px;
  margin-bottom: 80px;
}
