#selectionDiv {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

#selectionWrapperDiv {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.playLink {
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: #e68119;
}

.categoryDiv {
  padding-top: 30px;
}

.levelDiv {
  display: flex;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.levelDiv h3 {
  text-align: left;
  padding-top: 10px;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.starImage {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.starsDiv {
  margin-left: 20px;
  margin-right: 20px;
}
