<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="level_results_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="../scripts/utils.js"></script>
</head>
<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}

    <div id="contentDiv">
      <div id="wrapperDiv">
        <div id="completedDiv" class="centered">
          <h1 id="completed">Completed!</h1>
        </div>

        <div id="levelDiv" class="centered">
          <!--<h2>{{level_name}}</h2>-->

          <div id="starDiv" class="centered">
            {{#for 0 stars 1}}
              <img class="starImage", alt="star", src="../images/star_filled.png">
            {{/for}}
            {{#for stars 3 1}}
              <img class="starImage", alt="star", src="../images/star_empty.png">
            {{/for}}
          </div>
        </div>

        <div id="buttonsDiv" class="centered">
          <button id="retryButton" class="buttons" type="button" onclick="location.href='/shared/play?levelId={{level_id}}'">Retry</button>
          <button id="nextLevelButton" class="buttons" type="button" onclick="location.href='/shared/level_intro?levelId={{next_level_id}}'">Next Level</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
