#selectionDiv {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

#selectionWrapperDiv {
  text-align: center;
}

.categoryDiv {
  padding-top: 30px;
}

.levelDiv h3 {
  text-align: left;
  padding-top: 10px;
}