<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="level_select_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}
    <div id="contentDiv">
      <div id="selectionWrapperDiv">
        <h1>Level Selection</h1>
        <div id="selectionDiv">
          <div class='categoryDiv'>
            <h2>Introduction</h2>
            {{#each levels}}
              <ul>{{> level_select_scores this}}</ul>
            {{/each}}
          </div>
          <div class='categoryDiv'>
            <h2>Booleans</h2>
            <div class='levelDiv'>Level 3</div>
            <div class='levelDiv'>Level 4</div>
            <div class='levelDiv'>Level 5</div>
          </div>
          <div class='categoryDiv'>
            <h2>Loops</h2>
            <div class='levelDiv'>Level 6</div>
            <div class='levelDiv'>Level 7</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
