#page {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius: 25px;
  display: inline-block;
  background-color: #f0f0f0;
}

#bannerDiv {
  display: table;
  height: 100px;
  margin: auto;
  margin-top: 40px;
  padding: 0;
}

#bannerDivContents {
  display: table-cell;
  height: 115px;
  margin: auto;
  vertical-align: middle;
}

#logo {
  float: left;
  height: 100%;
}

#titleDiv {
  display: inline-block;
  font-size: 60px;
  margin-left: 20px;
  line-height: 115px;
  color: #e68119;
}

#formDiv {
  display: block;
  margin: auto;
  width: 60%;
  padding: 10px;
}

#formButtonDiv {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.formButton {
  height: 30px;
  width: 140px;
}

.formItem {
  margin: 7px auto;
  width: 140px;
}

input.formItem {
  width: 100%;
}

#formDiv > label {
  display: block;
  text-align: center;
}
