<div class='categoryDiv'>
  <span class="inlineDiv">
    <a class="linkPlain hoverLink introLink" href="{{introLink}}">{{categoryName}}</a>
  </span>
  {{#each levels}}
    {{> level_select_scores this}}
  {{/each}}
</div>
