<div class="levelDiv">
  <span class="nameDiv">
    Level {{number}} - {{name}}
  </span>
  <span class="starsDiv">    
    {{#for 0 stars 1}}
      <img class="starImage", alt="star", src="../images/star_filled.png">
    {{/for}}
    {{#for stars 3 1}}
      <img class="starImage", alt="star", src="../images/star_empty.png">
    {{/for}}
  </span>
</div>
