html, body, h1 {
	margin: 0;
	padding: 0;
	height: 100%;
  font-family: 'Roboto', sans-serif;
}

#bannerDiv {
  width: 100%;
  height: 60px;
  background-color: #a2a7a5;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 0px #000000;
}

#contentDiv {
  width: 100%;
  height: 800px;
  background-color: #e4dfda;
}

#blocklyDiv {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #e4dfda;
}

#blocklyWorkspaceDiv {
 position: absolute;
  width: 0px;
  height: 0px;
}

#visualDiv {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #e4dfda;
}